name: assignment_1_test

on:
  pull_request:
    branches:
      - 'assignment_1/'

jobs:
  tests:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
          architectures: 'x64'

      - name: install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install pytest wheel
          python3 -m pip install -r requirements.txt
      - name: Assignment_1_check
        run: chmod +x ./test_assgn1.py & python3 ./test_assgn1.py